@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

html {
  height: 100vh;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

.mantine-DatePicker-calendar * {
  @apply text-base-content
}

.mantine-DatePickerInput-input {
  @apply text-base-content
}

.no-border-date .mantine-DatePickerInput-input {
  @apply border-none p-0 min-h-0 h-7
}

.white-text-date .mantine-DatePickerInput-input {
  @apply text-white
}